# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Environment variables
.env

# SQLite database (if you generate it locally)
*.db
*.sqlite3

# Flask instance folder
instance/

# VS Code settings
.vscode/

# OS junk
.DS_Store
Thumbs.db
