<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Lots</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
    <div class=" container min-vh-100 d-flex justify-content-center align-items-center">
    <div class="border rounded p-4 bg-white shadow-sm" style="width: 100%; max-width: 400px;">
    <h2 class="mb-4 text-center">Edit Lots</h2>
    <form method="POST" action="{{ url_for('admin.edit_lot',lot_id=lot.id) }}">
        <div class="mb-3">
            <label for="location_name" class="form-label">Location name</label>
            <input type="text" id="location_name" name="location_name" class="form-control" required value="{{ lot.location_name }}">
        </div>
        <div class="mb-3">
            <label for="address" class="form-label">Address</label>
            <textarea type="text" id="address" name="address" class="form-control" rows="2" required>{{ lot.address }}</textarea>
        </div>
        <div class="mb-3"> 
            <label for="pin_code" class="form-label">Pin code</label>
            <input type="text" id="pin_code" name="pin_code" class="form-control" pattern="\d{6}" required value="{{ lot.pin_code }}">
        </div>
        <div class="mb-3">
            <label for="price_per_hour" class="form-label">Price per hour (₹)</label>
            <input type="number" step="0.1" id="price_per_hour" name="price_per_hour" class="form-control" required value="{{ lot.price_per_hour }}">
        </div>
        <div class="mb-3">
            <label for="max_spots" class="form-label">Maximum number of spots</label>
            <input type="number" id="max_spots" name="max_spots" class="form-control" required value="{{ lot.max_spots }}">
        </div>
         <button type="submit" class="btn btn-primary">Update Lot</button>
        <a href="{{ url_for('admin.view_lots') }}" class="btn btn-secondary">Cancel</a>
    </form>
    </div>
    </div>
</body>
</html>